[imap]
server=your.server
username=your.username
password=your.password
# comma delimited list of imap folders to which inbox email should be sorted in to
folders=

[nilsimsa]
threshold=42

[general]
# reconsider_after already considered isn't reconsidered on every run to save processing
# power on large inboxes (thanks Tristan). Set to interval for inbox message reconsideration
# in seconds
reconsider_after=3600